.main-content {
    background-color: $color-neutral-100;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    @media all and (min-width:$mediaTablet) {
        grid-gap: 30px;
        padding: 23px 40px;
        grid-template-columns: 1fr minmax(329px, 45%);
        grid-template-rows: auto;
        grid-template-areas: "design card";
    }
}
.grid {
    @media all and (min-width:$mediaTablet) {
        &-item__card {
            grid-area: card;
        }
    }
    &-item__fill-fields {
        // We have a background gradient in all panels here:
        background: linear-gradient(top, $color-neutral-100, $color-neutral-0);
        border: 0;
        padding: 27px 20px 31px;
        @media all and (min-width:$mediaTablet) {
            padding: 0;
        }
    }
}