.main-content {
    background: linear-gradient(to bottom, $color-neutral-100, $color-neutral-0);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    @media all and (min-width:$mediaTablet) {
        width: 100%;
        grid-gap: 30px;
        padding: 23px 40px;
        grid-template-columns: 313px 1fr;
        grid-template-rows: auto;
        grid-template-areas: "design card";
    }
    @media all and (min-width:$mediaTV) {
        padding: 23px 0;
    }
}
.grid {
    @media all and (min-width:$mediaTablet) {
        &-item__card {
            grid-area: card;
        }
    }
    &-item__fill-fields {
        padding: 27px 20px 31px;
        @media all and (min-width:$mediaTablet) {
            padding: 0;
        }
    }
}