<section class="panel">
    <div class="panel__dropdown">
        <div class="title-image__wrapper">
            <img class="dropdown__icon-section" src="./assets/images/ungroup.svg" alt="">
            <h2 class="dropdown__title">Diseña</h2>
        </div>
        <img class="dropdown__arrow--up" id="dropdown__down-arrow--design" src="./assets/images/down-arrow.svg"
            alt="Abrir panel diseña">
    </div>
    <div class="panel__design-radios panel--openFlex">
        <p class="radios__title">Colores</p>
        <div class="radios__picker">
            <label class="control__text radios-text" for="option-color-1">
                <input class="control__radio radios-buttons" id="option-color-1" type="radio" value="1" name="palette" checked/>
                <span class="control__indicator"></span>
                <span class="box-wrapper">
                    <span class="box box-color1"></span>
                    <span class="box box-color2"></span>
                    <span class="box box-color3"></span>
                </span>
            </label>

            <label class="control__text radios-text" for="option-color-2">
                <input class="control__radio radios-buttons" id="option-color-2" type="radio" value="2" name="palette"/>
                <span class="control__indicator"></span>
                <span class="box-wrapper">
                    <span class="box box-color4"></span>
                    <span class="box box-color5"></span>
                    <span class="box box-color6"></span>
                </span>
            </label>

            <label class="control__text radios-text" for="option-color-3">
                <input class="control__radio radios-buttons" id="option-color-3" type="radio" value="3" name="palette"/>
                <span class="control__indicator"></span>
                <span class="box-wrapper">
                    <span class="box box-color7"></span>
                    <span class="box box-color8"></span>
                    <span class="box box-color9"></span>
                </span>
            </label>
        </div>
    </div>
</section>