<section class="panel-fill">

    <div class="panel-fill__dropdown">
        <div class="title-image__wrapper">
            <img class="dropdown__icon-section" src="./assets/images/keyboard.svg" alt="">
            <h2 class="dropdown__title">Rellena</h2>
        </div>
        <img class="dropdown__down-arrow" src="./assets/images/down-arrow.svg" alt="Abrir panel rellena">
    </div>

    <div class="panel-fill__form">
        <div class="dropdown__item">
            <label class="item__label" for="fullName">Nombre completo</label>
            <input class="item__information" type="text" id="fullName" placeholder="Ej: Monster Terribilus" name="fullName" required>    
        </div>

        <div class="dropdown__item">
            <label class="item__label" for="rol">Puesto</label>
            <input class="item__information"  type="text" id="rol" placeholder="Ej: Front-end" name="rol" required>    
        </div>

        <div class="dropdown__item">
            <label class="item__label" for="personalImage">Imagen de perfil</label>
            <input class="item__information"  type="image" id="personalImage" name="personalImage">    
        </div>

        <div class="dropdown__item">
            <label class="item__label" for="email">Email</label>
            <input class="item__information" type="email" id="email" placeholder="dontBeScare@gmail.com" name="email" required>    
        </div>

        <div class="dropdown__item">
            <label class="item__label"  for="phoneNumber">Teléfono</label>
            <input class="item__information"  type="tel" id="phoneNumber" placeholder="666-66-66-66" name="phoneNumber" required>    
        </div>

        <div class="dropdown__item">
            <label class="item__label"  for="linkedin">Linkedin</label>
            <input class="item__information"  type="url" id="linkedin" placeholder="linkedin.com/monsterYey" name="linkedin">    
        </div>

        <div class="dropdown__item">
            <label class="item__label"  for="github">GitHub</label>
            <input class="item__information"  type="text" id="github" placeholder="@monsterYey" name="github"> 
        </div>
        
    
    </div>

</section>