<section class="panel">

    <div class="panel__dropdown">
        <div class="title-image__wrapper">
            <img class="dropdown__icon-section" src="./assets/images/keyboard.svg" alt="">
            <h2 class="dropdown__title">Rellena</h2>
        </div>
        <img class="dropdown__arrow--down" id="dropdown__down-arrow--fill" src="./assets/images/down-arrow.svg" alt="Abrir panel rellena">
    </div>

    <fieldset class="panel__fill-form panel--close">
        <div class="dropdown__item">
            <label class="item__label" for="fullName">Nombre completo</label>
            <input class="item__info" type="text" id="fullName" placeholder="Ej: Monster Terribilus" name="fullName" required>    
        </div>

        <div class="dropdown__item">
            <label class="item__label" for="rol">Puesto</label>
            <input class="item__info"  type="text" id="rol" placeholder="Ej: Front-end" name="rol" required>    
        </div>

        <div class="dropdown__item">
            <label class="item__label" for="personalImage">Imagen de perfil</label>
            <div class="item__info--image-container">
                <button class="item__info--button">Añadir imagen</button>
                <img class="item__info--thumbnail" src="https://via.placeholder.com/30x30" alt="">
            </div>
        </div>

        <div class="dropdown__item">
            <label class="item__label" for="email">Email</label>
            <input class="item__info" type="email" id="email" placeholder="dontBeScared@gmail.com" name="email" required>    
        </div>

        <div class="dropdown__item">
            <label class="item__label"  for="phoneNumber">Teléfono</label>
            <input class="item__info"  type="tel" id="phoneNumber" placeholder="123-456-789" name="phoneNumber" pattern="^\d{3}-\d{3}-\d{3}$" title="ej: 123-456-789"  required>    
        </div>

        <div class="dropdown__item">
            <label class="item__label"  for="linkedin">Linkedin</label>
            <input class="item__info"  type="url" id="linkedin" placeholder="linkedin.com/monsterYey" name="linkedin">    
        </div>

        <div class="dropdown__item">
            <label class="item__label"  for="github">GitHub</label>
            <input class="item__info"  type="text" id="github" placeholder="monsterYey" name="github"> 
        </div>
    </fieldset>
</section>