<section class="panel-fill">
    <div class="panel-fill__dropdown">
        <div class="title-image__wrapper">
            <img class="dropdown__icon-section" src="./assets/images/keyboard.svg" alt="">
            <h2 class="dropdown__title">Rellena</h2>
        </div>
        <img class="dropdown__down-arrow" src="./assets/images/down-arrow.svg" alt="Abrir panel rellena">
    </div>


    <!-- <div class="panel-design__radios"> -->
    <div class="panel-fill__form">
        <p class="radios__title">Colores</p>
        <div class="radios__picker">
            <label class="control__text radios-text" for="option-color-1">
                <input class="control__radio radios-buttons" id="option-color-1" type="radio" value="color-option1" name="color-option" checked/>
                <div class="control__indicator"></div>
                <div class="box-wrapper">
                    <div class="box box-color1"></div>
                    <div class="box box-color2"></div>
                    <div class="box box-color3"></div>
                </div>
            </label>

            <label class="control__text radios-text" for="option-color-2">
                <input class="control__radio radios-buttons" id="option-color-2" type="radio" value="color-option2" name="color-option"/>
                <div class="control__indicator"></div>
                <div class="box-wrapper">
                    <div class="box box-color4"></div>
                    <div class="box box-color5"></div>
                    <div class="box box-color6"></div>
                </div>
            </label>

            <label class="control__text radios-text" for="option-color-3">
                <input class="control__radio radios-buttons" id="option-color-3" type="radio" value="color-option3" name="color-option"/>
                <div class="control__indicator"></div>
                <div class="box-wrapper">
                    <div class="box box-color7"></div>
                    <div class="box box-color8"></div>
                    <div class="box box-color9"></div>
                </div>
            </label>
        </div>
    </div>
</section>