<footer class="footer__page">
    <div class="footer__flex-wrapper column-center">
        <small class="footer__copyright">Awesome profile-cards @2019</small>
        <div class="logos">
            <img src="assets/images/logo-disena-aventura.jpg" alt="Logo de Diseña tu aventura" class="footer__image--logo">
            <a class="footer__link" href="https://adalab.es/" target="blank">
            <img src="assets/images/logo-adalab.png" alt="Logo de Adalab" class="footer__image">
            </a>
        </div>
    </div>
</footer>