<main class="page__main">
        <div class="header_container-text">
                <h1 class="page-main__title">Crea tu tarjeta de visita</h1>
                <p class="page-main__subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</p>
            </div>
        

        <div class="icons">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quam similique sequi fugiat accusantium quos quaerat repellat optio esse aperiam ratione vero cupiditate, sapiente exercitationem corrupti voluptas modi eius corporis.</div>
        
        <a href="cardmarketer.html" class="main-button__start">Comenzar</a>
</main>
