<main class ="page__main">
    <!-- <ul class="main-cont-icons">
        <li><img  class="icon-share" src="assets/images/connect.svg" alt="">Diseña</li>
        <li>Rellena</li>
        <li>Comparte</li>  

    </ul> --> 
    
    <div class="main-cont-icons">
        <div class="main-item1-icons">
            <img  class="icon" src="assets/images/connect.svg" alt="">
            <spam class="text-icons">Diseña</spam>
        </div>
        <!-- <li>Rellena</li>
        <li>Comparte</li>   -->
        <div class="main-item1-icons">
            <img  class="icon" src="assets/images/connect.svg" alt="">
            <spam class="text-icons">Diseña</spam>
        </div>
        <div class="main-item1-icons">
            <img  class="icon" src="assets/images/connect.svg" alt="">
            <spam class="text-icons">Diseña</spam>
        </div>

        </div>



</main>