<main class="page__main">
        <div class="header_container-text">
                <h1 class="page-main__title">Crea tu tarjeta de visita</h1>
                <p class="page-main__subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</p>
            </div>
        
 <!--block of icons designs stuffed and shares  -->
        <div class="main-cont-icons">
                <div class="main-item1-icons">
                        <img  class="icon" src="assets/images/ungroup.svg" alt="">
                        <span class="text-icons">Diseña</span>
                </div>
                <div class="main-item1-icons">
                        <img  class="icon" src="assets/images/keyboard.svg" alt="">
                        <span class="text-icons">Rellena</span>
                </div>
                <div class="main-item1-icons">
                        <img  class="icon" src="assets/images/share.svg" alt="">
                        <span class="text-icons">Comparte</span>
                </div>
        </div>
        
        <a href="cardmaker.html" class="main-button__start">Comenzar</a>
</main>
