<section class="preview__section">
    <div class="preview__section--container">
        <button class="reset__button"><img class="trash-icon" src="assets/images/trash.svg">Reset</button>

        <div class="preview__card">
            <div class="deco-rectangle__card"></div>
            <h2 class="full-name__card">Nombre Apellido</h2>
            <h3 class="ocupation__card">Front-end developer</h3>
            <div class="photo__preview">
            </div>
            <ul class="social__card--list">
                <li class="social__icons mobile-icon">
                </li>
                <li class="social__icons email-icon">
                </li>
                <li class="social__icons linkedin-icon">
                </li>
                <li class="social__icons github-icon">
                </li>

            </ul>
        </div>
    </div>
</section>