<section class="preview__section grid-item__card bgc-color-green">
    <div class="preview__section--container">
        <button class="reset__button"><img class="trash-icon" src="assets/images/trash.svg" alt="imagen reset">Reset</button>

        <div class="preview__card">
            <div class="deco-rectangle__card"></div>
            <h2 class="full-name__card" id="card-name">Nombre Apellido</h2>
            <h3 class="ocupation__card" id="card-job">Front-end developer</h3>
            <div class="photo__preview js__profile-image">
            </div>

             <!-- ICONOS -->
            <ul class="social__card--list">
                <!-- Phone icon -->
                <li class="social__icons mobile-icon">
                    <a href="" id="mobile-link">
                         <svg class="wrap-icon"><use href="#ico-mobile"/></svg>
                    </a>
                </li>
                <!-- Letter icon -->
                <li class="social__icons email-icon">
                    <a class="email__card"> 
                        <svg class="wrap-icon"><use href="#ico-letter"/></svg>
                    </a>
                </li>
                <!-- linkedin icon -->
                <li class="social__icons linkedin-icon">
                    <a class="linkedin-link" href="" target="_blank"> 
                        <svg class="wrap-icon"><use href="#ico-linkedin"/></svg>
                    </a>
                </li>
                <!-- github icon -->
                <li class="social__icons github-icon">
                    <a class="link-github" href="" target="_blank">
                         <svg class="wrap-icon"><use href="#ico-github"/></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>