<section class="panel-design">
    <div class="panel-design__dropdown">
        <div class="title-image__wrapper">
            <img class="dropdown__icon-section" src="./assets/images/share.svg" alt="">
            <h2 class="dropdown__title">Comparte</h2>
        </div>
        <img class="dropdown__arrow--down" id="dropdown__down-arrow--share" src="./assets/images/down-arrow.svg" alt="Abrir panel compartir">
    </div>

    <div class="align_share panel--close">
        <button class="btn_share" type="submit"><img class= "icon__id-card" src="assets/images/id-card.svg" alt="Crear tarjeta">Crear Tarjeta</button>        
    </div>         
</section>

<section class="align_share align_share_text panel-design panel--close">
    <p class= "card-create">La tarjeta ha sido creada</p>
    <p> 
        <a class="card-link" href="http://">link</a>
    </p>
    <div class="align_share panel__twitter">
        <button class="btn_twitter">
            <img class= "icon__twitter" src="assets/images/twitter.svg" alt="compartir en Twitter">Compartir en Twitter
        </button>        
    </div>
</section>

