<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png">
    <title>Awesome profile-cards</title>
    <link rel="icon" href="favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700|Open+Sans:400,500,600" rel="stylesheet">
	<link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
    <div class="place-items__cardmaker">
        <!-- SVG ICONS PREVIEW -->
        <partial src="_icons.html"></partial>
        <!-- HEADER -->
        <partial src="_headerApp.html"></partial>
        <!-- MAIN -->
        <partial src="_mainApp.html"></partial>
        <!-- FOOTER -->
        <partial src="_footer.html"></partial>
    </div>
    
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>