// General resets:
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Reset default styles of lists:
ul, ol {
    list-style: none;
}

// General settings:
body{
    height: 100vh;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: $color-neutral-800;
    background-color: $color-neutral-100;
}