.footer__page {
    border-top: solid 1px $color-neutral-200;
    background-color: $color-neutral-0;
    width: 100%;
    @media all and (min-width: $mediaTablet) {
        padding-bottom: 10px;
    }
}
.footer__flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 19px;
    @media all and (min-width:$mediaTablet) {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 40px 0 40px;
    } 
}

.footer__copyright {
    font-family: $font-default;
    font-size: $font-size-S;
    line-height: 20px;
    color: $color-neutral-700;
    opacity: 0.5;
    margin-bottom: 10px;
    @media all and (min-width:$mediaTablet) {
        margin-bottom: 0;
    }
}

.footer__link {
    line-height: 0;
}

.logos {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @media all and (min-width:$mediaTablet) {
        margin-bottom: 0;
    }  
}

.footer__image {
    max-width: 103px;
    &--logo {
        max-height: 35px;
        margin-right: 50px;
        @media all and (min-width:$mediaTablet) {
            max-height: 30px;
            margin-right: 40px;
        }
    } 
}