.footer__page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px;
    border-top: solid 1px $color-neutral-200;
    @media all and (min-width:$mediaTablet) {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;
    }  
}
.footer__copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: $color-neutral-700;
    opacity: 0.5;
    margin: 10px 0 10px;
}
.footer__link {
    line-height: 0;
}

.footer__image {
    max-width: 103px;
    margin-bottom: 10px;
        @media all and (min-width:$mediaTablet) {
            margin-bottom: 0;
        }   
}