.page__header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 100px 30px 0px 30px;

        @media all and (min-width:$mediaTablet){
            margin: 0px 175px 0px 175px;
            padding-top:90px;
        }
}

.page-header__image{
    width: 250px;
   
    @media all and (min-width:$mediaTablet){
        width: 420px;
    }
}


