.app-header {
    padding: 31px 79px 30px 40px;
    background-color: $color-neutral-0;
    min-width: 100%;
    @media all and (min-width:$mediaTV) {
        padding-left: 0;
        padding-right: 0;
    }
    &__logo {
        display: block;
        max-width: 201px;
    }
}