.panel {
    &__design-radios {
        padding: 13px 0 0 19px;
        display: flex;
        justify-content: space-between;
        @media all and (min-width: $mediaTablet) {
            padding: 13px 0 0 0;
        }
    }
}

.title-image__wrapper {      
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.radios {
    &__title {
        text-transform: uppercase;
        font-size: 14px;
    }
    &__picker {
        margin-bottom: 30px;
    }
    &-buttons {
        margin-right: 10px;
    }
    &-text {
        display: block;
    }
}

.control {
    &__text {
        position: relative;
        display: block;
        margin-bottom: 20px;
        padding-left: 30px;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
        & .control__indicator {
            border-radius: 50%;
        }
    }
    &__radio {
        // Ocultamos el radio button original
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__indicator {
        // Dibujamos un radio a nuestro gusto
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include drawRectangle(17px, 17px);
        border: 1px solid $color-neutral-400;
        border-radius: 50%;
    }
}

.control__radio:checked ~ .control__indicator {
    // Color que le damos al radio al estar seleccionado
    background: $color-secondary-800;
}
.control__indicator:after {
    // Creamos el pseudoelemento y lo "quitamos" para usarlo en otra ocasión
    content: '';
    position: absolute;
    display: none;
}
.control__text .control__indicator:after {
    // Dibujamos el circulito blanco del centro del radio
    @include totalCenter();
    @include drawRectangle(5px, 5px);
    border-radius: 50%;
    background-color: $color-neutral-0;
}
.control__radio:checked ~ .control__indicator:after {
    // Hace que el círculo central aparezca
    display: block;
}

.box {
    &-wrapper {
        display: flex;
        flex-direction: row;
    }
    @include drawRectangle(30px, 25px);
    &-color1 {
        background-color: $color-secondary-700;
    }
    &-color2 {
        background-color: $color-secondary-710;
    }
    &-color3 {
        background-color: $color-secondary-720;
    }
    &-color4 {
        background-color: $color-secondary-650;
    }
    &-color5 {
        background-color: $color-secondary-660;
    }
    &-color6 {
        background-color: $color-secondary-670;
    }
    &-color7 {
        background-color: $color-secondary-850;
    }
    &-color8 {
        background-color: $color-secondary-860;
    }
    &-color9 {
        background-color: $color-secondary-870;
    }
}