.panel {
    &__fill-form {
        padding: 15px 0 9px;
    }
}

.title-image__wrapper {      
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dropdown {
    &__item {
        display: flex;
        flex-direction: column;
    }
}

.item {
    &__label {
        margin-bottom: 6px;

        font-size: $font-size-S;
        font-weight: $font-weight-regular;
        color: $color-primary-800;
    }
    &__info {
        height: 30px;
        margin-bottom: 19px;
        padding-left: 10px;

        border: 1px solid $color-primary-200;
    }
}


.item__info--image-container {
    margin-top: 1px;
    display: flex;
    justify-content: flex-start;

}
.hidden__file--button {
    position: fixed;
    visibility: hidden;
}
.item__info--thumbnail {
    @include drawRectangle(30px, 30px);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid $color-primary-200;
    background-image: url(../images/user-photo-default.png);
}


input::placeholder {
    color: $color-neutral-300;
}

.addBoxShadow__IfInputIsFIlled{
    box-shadow: 0px 0px 14px 2px $color-neutral-400;
    
   
   }
   
.marker {
    color: $color-secondary-600;
    font-weight: $font-weight-thick;
}
