//* Default styles for preview card*//

.preview__section {
    padding: 0 40px 40px 40px;
    font-family: 'Open Sans', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width:$mediaTablet) {
        border-radius: 6px;
    }  
}
.preview__card {
    position: relative;
    width: 240px;
    background-color: $color-neutral-0;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}
.photo__preview {
    width: 240px;
    height: 200px;
    background-image: url(../images/user-photo-default.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.deco-rectangle__card{
    position: absolute;
    top: 20px;
    width: 0px;
    height: 0px;
    border-left: solid 5px $color-primary-200;
    border-top: solid 45px $color-primary-200;
}
.full-name__card {
    padding: 21px 20px 0 20px;
    font-family: $font-style-Montserrat;
    font-size: $font-size-L;
    font-weight: $font-weight-strong-thick;
    line-height: 20px;
    text-transform: capitalize;
    color: $color-primary-800;
}
.ocupation__card {
    padding: 4px 20px 10px 20px;
    font-family: $font-style-Montserrat;
    font-size: $font-size-M;
    font-weight: $font-weight-regular;
    line-height: 20px;
    color: $color-neutral-800;
}
.social__card--list {
    padding: 10px 20px 12px 20px;
    max-height: 56px;
    display: flex;
    flex-direction: row;
  
}
.social__icons {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid 2px $color-primary-200;
    margin-right: 10px;
    text-align: center;
}
.wrap-icon{
    max-width: 18px;
    max-height: 22px;
    padding-top: 5px;
    fill: $color-secondary-700;
}


//* Themes for Javascript *//

//* Green *//
.theme-green {
    .full-name__card{
        color: $color-secondary-700;
    }
    .deco-rectangle__card{
        border-left: solid 5px $color-secondary-720;
        border-top: solid 45px $color-secondary-720;
    }
    .social__icons {
        border: solid 2px $color-secondary-710;
    }
    .wrap-icon{
        fill: $color-secondary-700;
    }

}
.bgc-color-green{
   background: linear-gradient(rgba($color-secondary-720, 0.5), $color-neutral-0);

}

//* Red *//
.theme-red {
    .full-name__card{
        color: $color-secondary-650;
    }
    .deco-rectangle__card{
        border-left: solid 5px $color-secondary-670;
        border-top: solid 45px $color-secondary-670;
    }
    .social__icons {
        border: solid 2px $color-secondary-660;
    }
    .wrap-icon{
        fill: $color-secondary-650;
    }
}
.bgc-color-red{
   background: linear-gradient(rgba($color-secondary-670, 0.5), $color-neutral-0);
}

//* Blue *//
.theme-blue {
    .full-name__card{
        color: $color-secondary-850;
    }
    .deco-rectangle__card{
        border-left: solid 5px $color-secondary-860;
        border-top: solid 45px $color-secondary-860;
    }
    .social__icons {
        border: solid 2px $color-secondary-870;
    }
    .wrap-icon{
        fill: $color-secondary-850;
    }
}
.bgc-color-blue{
    background: linear-gradient($color-secondary-860, $color-neutral-0);
}