// In general we use "weight fonts" numbers as metaphor of colour lightness (light>regular>bold would be equivalent to light>dark):

// Primary colors (green ones):
$color-primary-200: #a2deaf;
$color-primary-600: #438792;
$color-primary-800: #114e4e;

// Secondary colors (orange ones):
$color-secondary-100: #f9f4dc;
$color-secondary-600: #e17334;

// Neutral colors (greyscale):
$color-neutral-0: #ffffff;
$color-neutral-100: #f5f5f5;
$color-neutral-200: #d8d8d8;
$color-neutral-700: #6b6b6b;
$color-neutral-800: #54585a;
$color-neutral-1000: #000000;

// Mediaquery
$mediaTablet: 768px;

//Typography

$font-style-Open: 'Open Sans', sans-serif;
$font-style-Merry: 'Merriweather', serif;
$font-size-S: 14px;
$font-size-M: 16px;
$font-size-L: 18px;
$font-size-XL: 24px;
$font-weight-thin: 500;
$font-weight-thick: 600;
$font-weight-thicker: 900;
$text-upercase: uppercase;

