// In general we use "weight fonts" numbers as metaphor of colour lightness (light>regular>bold would be equivalent to light>dark):

// Primary colors (green ones):
$color-primary-200: #a2deaf;
$color-primary-600: #438792;
$color-primary-800: #114e4e;

// Secondary colors (orange ones):
$color-secondary-100: #f9f4dc;
$color-secondary-600: #e17334;
$color-secondary-650: #420E08;
$color-secondary-660: #BE372A;
$color-secondary-670: #E95735;
$color-secondary-700: #1F4E4E;
$color-secondary-710: #438792;
$color-secondary-720: #A2DEAF;
$color-secondary-770: #00a0f5;
$color-secondary-800: #3497FD;
$color-secondary-850: #3E5B65;
$color-secondary-860: #DFE5EB;
$color-secondary-870: #A0C0CF;


// Neutral colors (greyscale):
$color-neutral-0: #ffffff;
$color-neutral-100: #f5f5f5;
$color-neutral-180: #d5d5d5;
$color-neutral-200: #d8d8d8;
$color-neutral-300: #c5c5c5;
$color-neutral-400: #bbbbbb;
$color-neutral-700: #6b6b6b;
$color-neutral-800: #54585a;
$color-neutral-1000: #000000;


// Mediaquery
$mediaTablet: 768px;
$mediaTV: 1100px;

//Typography
$font-default: 'Open Sans', sans-serif;
$font-style-Merry: 'Merriweather', serif;
$font-style-Montserrat: 'Montserrat', sans-serif;

$font-size-XXS:12px;
$font-size-XS:13px;
$font-size-S: 14px;
$font-size-M: 16px;
$font-size-L: 18px;
$font-size-XL: 24px;

$font-weight-regular: 400;
$font-weight-thin: 500;
$font-weight-thick: 600;
$font-weight-strong-thick:700;
$font-weight-thicker: 900;

$text-upercase: uppercase;

